## <span style="color:blue">CO<sub>2</sub> Emissions</span>

In [1]:
import pandas as pd
import requests

In [2]:
def api_emissions(city, year):
    # API URL for emissions
    api_url = "https://dataportalforcities.org/api/emissions?cityid={}&year={}&scope=total".format(city,year)
    response = requests.get(api_url)
    data = response.json()
    rows = []
    for sector_data in data['data']:
        sector = sector_data['sector']
        for emission in sector_data.get('emissions', []):
            rows.append({
                'cityid': data['cityid'],
                'city_name': data['city_name'],
                'adm1id': data['adm1id'],
                'adm1_name': data['adm1_name'],
                'countryid': data['countryid'],
                'country_name': data['country_name'],
                'regionid': data['regionid'],
                'region_name': data['region_name'],
                'year': data['year'],
                'population': data['population'],
                'scope': data['scope'],
                'sector': sector,
                'sector_code': sector_data['sector_code'],
                'subsector': emission['subsector'],
                'subsector_code': emission['subsector_code'],
                'activity_amount_mj': emission['activity_amount_mj'],
                'co2e_total_ton': emission['co2e_total_ton'],
                'notation': emission['notation']
            })
    
    emissions = pd.DataFrame(rows)
    return emissions

In [3]:
emissions = api_emissions(2618424,2015)
#5128581 cop
#4140963 was
#2618424 new york

In [22]:
city_list = list(('2618424', '4140963', '5128581'))

In [25]:
df = pd.DataFrame()
for city in city_list:
    emissions = api_emissions(city, 2015)
    df = df.append(emissions)

AttributeError: 'DataFrame' object has no attribute 'append'

In [ ]:
pd.options.display.float_format = '{:,.0f}'.format

In [5]:
emissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   cityid              24 non-null     int64
 1   city_name           24 non-null     object
 2   adm1id              24 non-null     int64
 3   adm1_name           24 non-null     object
 4   countryid           24 non-null     int64
 5   country_name        24 non-null     object
 6   regionid            24 non-null     int64
 7   region_name         24 non-null     object
 8   year                24 non-null     int64
 9   population          24 non-null     int64
 10  scope               24 non-null     object
 11  sector              24 non-null     object
 12  sector_code         24 non-null     object
 13  subsector           24 non-null     object
 14  subsector_code      24 non-null     object
 15  activity_amount_mj  24 non-null     object
 16  co2e_total_ton      24 non-null     object
 17  notation            24 non-null     object
dtypes: int64(6), object(12)
memory usage: 3.5+ KB

In [6]:
emissions = emissions.drop(columns=['cityid', 'adm1id', 'adm1_name', 'countryid', 'countryid', 'regionid' , 'scope', 'sector_code', 'subsector_code', 'notation'])

In [7]:
emissions['co2e_total_ton'] = pd.to_numeric(emissions['co2e_total_ton'], errors='coerce')
emissions['activity_amount_mj'] = pd.to_numeric(emissions['activity_amount_mj'], errors='coerce')

In [8]:
emissions['population'] = emissions['population'].astype('float')

In [9]:
emissions.head()

,city_name,country_name,region_name,year,population,sector,subsector,activity_amount_mj,co2e_total_ton
0,Copenhagen municipality,Denmark,European Union & Western Europe,2015,"580,184",Stationary energy,Residential buildings,"13,581,612,599","319,317"
1,Copenhagen municipality,Denmark,European Union & Western Europe,2015,"580,184",Stationary energy,Commercial buildings & facilities,"8,785,259,450","76,316"
2,Copenhagen municipality,Denmark,European Union & Western Europe,2015,"580,184",Stationary energy,Institutional buildings & facilities,"3,151,828,189","86,747"
3,Copenhagen municipality,Denmark,European Union & Western Europe,2015,"580,184",Stationary energy,Industrial buildings & facilities,"1,104,257,270","80,934"
4,Copenhagen municipality,Denmark,European Union & Western Europe,2015,"580,184",Stationary energy,Agriculture,"1,049,337",78

In [10]:
emissions['city_name'].value_counts()
#df['subsector'].value_counts()

city_name
Copenhagen municipality    24
Name: count, dtype: int64

In [11]:
emissions['sector'].value_counts()

sector
Stationary energy                     6
Transport                             5
Waste                                 4
Generation of grid-supplied energy    4
AFOLU                                 3
IPPU                                  2
Name: count, dtype: int64

In [12]:
emissions['subsector'].value_counts()

subsector
Residential buildings                   1
Commercial buildings & facilities       1
Heat/cold generation                    1
CHP Generation                          1
Electricity-only generation             1
Other AFOLU                             1
Land use                                1
Livestock                               1
Produce use                             1
Industrial process                      1
Wastewater                              1
Incineration and open burning           1
Biological treatment                    1
Solid waste disposal                    1
Off-road                                1
Aviation                                1
Waterborne navigation                   1
Rail                                    1
On-road                                 1
Fugitive emissions                      1
Agriculture                             1
Industrial buildings & facilities       1
Institutional buildings & facilities    1
Local renewable generation              1
Name: count, dtype: int64

In [13]:
emissions['sector_subsector'] = emissions['sector']+' & '+emissions['subsector']

In [14]:
emissions['sector_subsector'].value_counts()

sector_subsector
Stationary energy & Residential buildings                           1
Stationary energy & Commercial buildings & facilities               1
Generation of grid-supplied energy & Heat/cold generation           1
Generation of grid-supplied energy & CHP Generation                 1
Generation of grid-supplied energy & Electricity-only generation    1
AFOLU & Other AFOLU                                                 1
AFOLU & Land use                                                    1
AFOLU & Livestock                                                   1
IPPU & Produce use                                                  1
IPPU & Industrial process                                           1
Waste & Wastewater                                                  1
Waste & Incineration and open burning                               1
Waste & Biological treatment                                        1
Waste & Solid waste disposal                                        1
Transport & Off-road                                                1
Transport & Aviation                                                1
Transport & Waterborne navigation                                   1
Transport & Rail                                                    1
Transport & On-road                                                 1
Stationary energy & Fugitive emissions                              1
Stationary energy & Agriculture                                     1
Stationary energy & Industrial buildings & facilities               1
Stationary energy & Institutional buildings & facilities            1
Generation of grid-supplied energy & Local renewable generation     1
Name: count, dtype: int64

In [15]:
emissions.head()

,city_name,country_name,region_name,year,population,sector,subsector,activity_amount_mj,co2e_total_ton,sector_subsector
0,Copenhagen municipality,Denmark,European Union & Western Europe,2015,"580,184",Stationary energy,Residential buildings,"13,581,612,599","319,317",Stationary energy & Residential buildings
1,Copenhagen municipality,Denmark,European Union & Western Europe,2015,"580,184",Stationary energy,Commercial buildings & facilities,"8,785,259,450","76,316",Stationary energy & Commercial buildings & fac...
2,Copenhagen municipality,Denmark,European Union & Western Europe,2015,"580,184",Stationary energy,Institutional buildings & facilities,"3,151,828,189","86,747",Stationary energy & Institutional buildings & ...
3,Copenhagen municipality,Denmark,European Union & Western Europe,2015,"580,184",Stationary energy,Industrial buildings & facilities,"1,104,257,270","80,934",Stationary energy & Industrial buildings & fac...
4,Copenhagen municipality,Denmark,European Union & Western Europe,2015,"580,184",Stationary energy,Agriculture,"1,049,337",78,Stationary energy & Agriculture

In [16]:
sector_subsector_sum = emissions.groupby('sector_subsector').co2e_total_ton.agg(['sum'])

In [17]:
sector_subsector_sum

                                                       sum
sector_subsector
AFOLU & Land use                                         0
AFOLU & Livestock                                        0
AFOLU & Other AFOLU                                      0
Generation of grid-supplied energy & CHP Genera...       0
Generation of grid-supplied energy & Electricit...       0
Generation of grid-supplied energy & Heat/cold ...       0
Generation of grid-supplied energy & Local rene...       0
IPPU & Industrial process                                0
IPPU & Produce use                                       0
Stationary energy & Agriculture                         78
Stationary energy & Commercial buildings & faci...  76,316
Stationary energy & Fugitive emissions                   0
Stationary energy & Industrial buildings & faci...  80,934
Stationary energy & Institutional buildings & f...  86,747
Stationary energy & Residential buildings          319,317
Transport & Aviation                                     0
Transport & Off-road                                     0
Transport & On-road                                247,300
Transport & Rail                                     3,515
Transport & Waterborne navigation                    3,196
Waste & Biological treatment                           644
Waste & Incineration and open burning                    0
Waste & Solid waste disposal                        21,721
Waste & Wastewater                                       0

In [18]:
sector_sum = emissions.groupby('sector').co2e_total_ton.agg(['sum'])
sector_sum

                                       sum
sector
AFOLU                                    0
Generation of grid-supplied energy       0
IPPU                                     0
Stationary energy                  563,392
Transport                          254,011
Waste                               22,365